.toggleButtonLangContainer {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
}

@media (max-width: 1000px) {
  .toggleButtonLangContainer {
    top: auto;
    bottom: 1.2rem;
  }
}

@media (max-width: 650px) {
  .toggleButtonLangContainer {
    top: auto;
    bottom: -5.25rem;
  }
}

@media (max-width: 495px) {
  .toggleButtonLangContainer {
    top: auto;
    bottom: -8rem;
  }
}

.toggleButtonLangContainer button:nth-child(1) {
  margin-right: 0.5rem;
}

.toggleButtonLangContainer button {
  margin-bottom: -0.5rem;
  background-color: transparent;
  border-radius: 0.5rem;
  border: 3px solid #7eb9e5;
  cursor: pointer;
  padding: 0.5rem;
  color: white;
}

.toggleButtonLangContainer button:hover,
.toggleButtonLangContainer button.click {
  background-color: #7eb9e5;
  color: black;
}
