.headerContainer {
  display: flex;
  align-items: center;
}

.logoContainer {
  flex: 19;
  display: flex;
  align-items: center;
  justify-content: center;
}

#Logo {
  width: 15rem;
  height: 15rem;
  align-self: center;
}

.logoCrown {
  fill: #7eb9e5;
  stroke: #000;
  stroke-miterlimit: 10;
  stroke-width: 3px;
}

.logoMask {
  fill: #000;
  stroke-width: 0px;
}
