@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Josefin+Sans&display=swap");

body {
  background-color: #232323;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.brandingText {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  transition: transform 0.2s;
}

a:hover {
  transform: scale(1.1);
}
